/* Align self*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: aqua;
}

.wrapper { 
    
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

nav {
    background: #000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    height: 500px;
}

nav ul li {
    border: 1px solid #f5f5f5;
    flex-basis: 50px;
    flex-grow: 1;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;

}

nav ul li a:hover {
    background-color: #757575;
}

.one {
    order: 2;
}

.two {
    order: 1;
}

.three {
    order: 3;
}


.four {
    order: 3;
}

.five {
    order: 3;
    align-self: stretch;
}